<a href="https://colab.research.google.com/github/brittn27/introtoGIT/blob/main/04OperatorsClass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators

In [ ]:
%load_ext lab_black

## Assignment Operators

Assignment operators are used in Python to assign values to variables.  
These are just shortcuts, and you can *always* do it the long way if that's easier when you're first starting out.

<div class="alert alert-info" role="alert">
<code>a = 5</code> is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.
There are various compound operators in Python like <code>a += 5</code> that adds to the variable and later assigns the same. It is equivalent to <code>a = a + 5</code>.
    </div>

Python uses `=` for assignment.

- In Python you can read the `=` sign as "gets".
- To compare things, you can read `==` as "is equivalent to".
- R users, be careful. `<-` is not a thing in Python.

In [ ]:
import pandas as pd

assignment_df = pd.DataFrame(
    {
        "Name": [
            "Equals",
            "Plus Equals",
            "Minus Equals",
            "Times Equals",
            "Divided by Equals",
            "Modulo Equals",
            "Floor Division Equals",
            "Exponent Equals",
        ],
        "Operator Shortcut": [
            "x = 2",
            "x += 2",
            "x -= 2",
            "x *= 2",
            "x /= 2",
            "x %= 2",
            "x //= 2",
            "x **2",
        ],
        "The Long Way": [
            "x = 2",
            "x = x + 2",
            "x = x - 2",
            "x = x * 2",
            "x  = x / 2",
            "x = x % 2",
            "x = x //2",
            "x = x ** 2",
        ],
        "Value of x if x starts at 2": [2, 2, 0, 4, 1, 0, 1, 4],
    }
)
assignment_df.set_index("Name", inplace=True)
assignment_df

ModuleNotFoundError: No module named 'pandas'

## Math Operators

<div class="alert alert-success">
Python uses mathematical operators `+`, `-`, `*`, `/` for 'sum', 'substract', 'multiply', and 'divide'. These operators return numbers.
</div>

In [ ]:
math_df = pd.DataFrame(
    {
        "Name": [
            "Add",
            "Subtract",
            "Multiply",
            "Divide",
            "Modulo",
            "Floor Division",
            "Exponent",
        ],
        "Operator": ["+", "-", "*", "/", "%", "//", "**"],
        "What it does to collections": [
            "Concatenate x and y",
            "Removes y from x",
            "Repeats x",
            "Can't do this to collections",
            "Can't do this to collections",
            "Can't do this to collections",
            "Can't do this to collections",
        ],
    }
)
math_df.set_index("Name", inplace=True)
math_df

               Operator   What it does to collections
Name
Add                   +           Concatenate x and y
Subtract              -              Removes y from x
Multiply              *                     Repeats x
Divide                /  Can't do this to collections
Modulo                %  Can't do this to collections
Floor Division       //  Can't do this to collections
Exponent             **  Can't do this to collections

Addition

In [ ]:
2 + 3

5

Subtraction

In [ ]:
2 - 3

-1

Multiplication

In [ ]:
2 * 3

6

Division

In [ ]:
2 / 3

0.6666666666666666

Remember that Python uses `/` for divisions, and `%` for remainder (called modulus). These also return numbers.

Floor Division  

Floor division is how many times y can go into x evenly with no remainder

In [ ]:
3 // 2

1

Modulo

Modulo is what is the remainder of division problems.

In [ ]:
3 % 2

1

<div class="alert alert-danger" role="alert">
Modulo on floats can give slightly incorrect answers since they use floating point arithemtic.  I recommend sticking to integers for now.
    </div>

In [ ]:
3.0 % 0.1

0.09999999999999984

<div class="alert alert-danger" role="alert">
Remember that Python uses <code>**</code> exponentiation. <code>^</code> is for binary comparisons.  We won't be doing that in this course, so for now, you can safely never use <code>^</code>. 
    </div>
    
<div class="alert alert-warning" role="alert">
Python doesn't have a built-in square root function.  Remember your math and $\sqrt{X}$ is the same as $X^{0.5}$. Yes, there are square root functions available but for now we are learning python's core programming fundamentals.  We'll learn how to `import` code later.</div>

In [ ]:
5 ** 0

1

In [ ]:
81 ** 0.5

9.0

### Don't forget you can do math on variables, and you can also store the results as variables.

In [ ]:
slice = 1
pizza = slice / 8
print(pizza)

0.125

### If you do math on non-numeric data types, funky things can happen....

In [ ]:
# Recall the Beatles White Album...
revolution = "#9\n"
print(revolution * 100)

#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9
#9

## Boolean Logic

Python has `and`, `or` and `not` for boolean logic. These operators return booleans.

In [ ]:
boolean_df = pd.DataFrame(
    {
        "Operator": [
            "and",
            "or",
            "not",
        ],
        "Result is true when": [
            "both conditions are true",
            "either condition is true",
            "neither condition is true",
        ],
        "Code sample": [
            "a and b",
            "a or b",
            "a not b",
        ],
    }
)
boolean_df.set_index("Operator", inplace=True)
boolean_df

                Result is true when Code sample
Operator
and        both conditions are true     a and b
or         either condition is true      a or b
not       neither condition is true     a not b

In [ ]:
a = True
b = False

In [ ]:
a and b

False

In [ ]:
a or b

True

In [ ]:
not a

False

In [ ]:
not b

True

### Question #1

What will the following boolean expression evaluate as:

In [ ]:
a and not b or a

True

- a) True
- b) False
- c) None
- d) This code will fail
- e) Stop messing with my head!

## Comparison Operators

Python has comparison operators `==`, `!=`, `<`, `>`, `<=`, and `>=` for value comparisons. These operators return booleans.

In [ ]:
comparison_df = pd.DataFrame(
    {
        "Name": [
            "Greater Than",
            "Less Than",
            "Equivalent",
            "Not Equal To",
            "Greater Than or Equal to",
            "Less Than or Equal To",
        ],
        "Operator": [">", "<", "==", "!=", ">=", "<="],
        "Example Code": [
            "x > y",
            "x < y",
            "x == y",
            "x != y",
            "x >= y",
            "x <= y",
        ],
        "Value if x=5 and y=6": [False, True, False, True, False, True],
    }
)
comparison_df.set_index("Name", inplace=True)
comparison_df

                         Operator Example Code  Value if x=5 and y=6
Name
Greater Than                    >        x > y                 False
Less Than                       <        x < y                  True
Equivalent                     ==       x == y                 False
Not Equal To                   !=       x != y                  True
Greater Than or Equal to       >=       x >= y                 False
Less Than or Equal To          <=       x <= y                  True

Let's define x and y

In [ ]:
x = 5
y = 6
print(x, y)

5 6

<div class="alert alert-info" role="alert">
Heads up! You can also assign x and y on the same line...
    </div

In [ ]:
x, y = 5, 6
print(x, y)

5 6

Let's check those identities

In [ ]:
x == x

True

In [ ]:
x == y

False

In [ ]:
"aa" == "aa"

True

In [ ]:
12 >= 13

False

## Comparing Identity Operators

Python uses `is` and `is not` to compare identity. These operators return booleans.  This is not the same as equivalence, like `==`.  Equivalence checks if the values are the same.  Identity checks if they are the same object in the computer's memory.

In [ ]:
identity_df = pd.DataFrame(
    {
        "Name": [
            "is",
            "is not",
        ],
        "Value if x='hi' and y='hi'": [False, True],
    }
)
identity_df.set_index("Name", inplace=True)
identity_df

Here it is `False` that x's copy of `hi` is the same copy of `hi` as y's copy of `hi`.  It is `True` that they are ***not*** the same copy.

In [ ]:
a = "hi"
b = a
c = "hi"

In [ ]:
print(a is b)
print(c is a)
print(a is not c)

<div class="alert alert-primary" role="alert">When we assigned `hi` to `a`, we created an instance of the `hi` object in the computers memory. When we say b=a, we point b at that instance of the object. When we say c=`hi`, we created a new copy of `hi`. The words are the same, but they point at different objects stored in the computer's memory.
    </div

In [ ]:
a == b == c

## Membership operators

<p><code>in</code> and <code>not in</code> are the membership operators in Python. They are used to test whether a value or variable is found in a sequence (<code>string</code>, <code>list</code>, <code>tuple</code>, <code>set</code>, and <code>dictionary</code>). In a dictionary we can only test for presence of key, not the value.</p>



<table border="1">
	<tbody>
		<tr>
			<th>Operator</th>
			<th>Meaning</th>
			<th>Example</th>
		</tr>
		<tr>
			<td>in</td>
			<td>True if value/variable is found in the sequence</td>
			<td>5 in x</td>
		</tr>
		<tr>
			<td>not in</td>
			<td>True if value/variable is not found in the sequence</td>
			<td>5 not in x</td>
		</tr>
	</tbody>
</table>

https://www.programiz.com/python-programming/operators

In [ ]:
name = "Feinberg"

'be' in name

In [ ]:
'elbow' in name

In [ ]:
'elbow' not in name

## String Operations

Operators sometimes do different things on different data. For example, `+` on strings does concatenation.

In [ ]:
abc = 'a' + 'b' + 'c'
abc

In [ ]:
one = "1"
two = "2"
twelve = one + two
twelve

In [ ]:
first_name = "David"
space = " "
last_name = "Feinberg"
full_name = first_name + space + last_name
full_name

### You can't add numbers and strings

In [ ]:
full_name + 7

### ... unless the numbers are stored as strings

In [ ]:
full_name + '7'

### But, remember our example above... you can multiply strings

In [ ]:
full_name * 21

### Good thing you can't divide strings also.   What would that even look like?

In [ ]:
full_name / 21

## Chaining Operators

Operators and variables can also be chained together into arbitrarily complex expressions.

In [ ]:
 'PNB' + " " + '2A03' == 'PNB 2A03'

### You can do that with variables too...

In [ ]:
department = "PNB"
space = " "
course_code = "2A03"

department + space + course_code == 'PNB 2A03'

### Note that you can use parentheses to chunk sections

In [ ]:
(13 % 7 >= 7) and (department + space + course_code == 'PNB 2A03')

### Question #2

What will the following expression evaluate as:

In [ ]:
2 ** 2 >= 4 and 13 % 3 > 1

- a) True
- b) False
- c) None
- d) This code will fail